<script type="text/javascript">
$(document).ready(function() {
    const parseResponse = (module, data) => {
        if (data?.errors?.length > 0) {
            fpsWnd('add-attach-errors', '{{ "Error"|lang }}', data.errors);
            return;
        }

        if (!data || data.length === 0) {
            fpsWnd('add-attach-errors', 'Information', 'Файлов не нашлось');
            return;
        }

        const getTitle = (data) => 
            `{{ "Click to insert"|lang }}\nName: ${data.filename}\nSize: ${AtomX.getSimpleFileSize(data.size)}\nDate: ${data.date}${data.user?.name ? `\nUser: ${data.user.name}` : ''}`;

        data.forEach(value => {
            const attachHtml = `
                <img id="attach-${value.id}" 
                     title="${getTitle(value)}" 
                     src="${value.is_image == 1 ? `/image/${module}/${value.filename}/150/` : '{{ template_path }}/img/atm-file-icon.png'}" 
                     onClick="AtomX.insetAtomImage(${value.id});" />
                {% if checkAccess([module, 'delete_attaches']) %}
                <div class="attach-delete" onClick="AtomX.deleteAttach('${module}', ${value.id})"></div>
                {% endif %}
            `;
            $('#attaches-info').append(attachHtml);
        });
    };

    AtomX.initMultiFileUploadHandler('{{ module }}', parseResponse);
});
</script>
